<div class="col-md-10">
  <div class="row">
    <div class="col-md-10 col-md-offset-4">
      <div class="top-visual">
        <div class="top-visual-content">
          <div class="top-visual-text">
            <h1>茨城農場へようこそ！</h1><br>
            <h4>このサイトでは、茨城農場の商品の閲覧や農場のイベントを見る事ができます。</h4><br>
            <h4>商品を見て、気になった方は「お問い合わせ」からご連絡お願いいたします！</h4><br>
            <h4>また閲覧にはログインが必要なため<%= link_to "こちら",new_customer_registration_path, :style=> "color:red;" %>から新規登録をお願いします。</h4><br>
            <h4>新規登録がお済みの方は<%= link_to "こちら",new_customer_session_path, :style=> "color:red;" %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- おすすめ商品 -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3><strong>オススメ商品</strong></h3>
      <div class="row">
        <% @all_ranks.each.with_index(1) do |item, i| %>
          <div class="col-md-3">
            第<%= i %>位
            <%= attachment_image_tag item, :image, format: 'jpeg', size:"170x140" %>
            <p><%= item.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
