<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>いいね一覧</h3>
  </div>
</div>
<br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1", style="font-size: 18px;">
     <table class="table">
        <thead>
          <tr>
            <th class="text-center">商品名</th>
            <th class="text-center">会員名</th>
          </tr>
        </thead>
        <tbody>
          <% @likes.each do |like| %>
            </tr>
              <td>
                <%= like.item.name %>
              </td>
              <td>
               <%= link_to admins_customer_path(like.customer), :style=> "color:red;" do %>
               <%= like.customer.first_name %><%= like.customer.last_name %>さん
                <% end %>
              </td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="text-center">
        <%= paginate @likes %>
      </div>
    </div>
  </div>