<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h3>会員一覧</h3>
  </div>
</div>
<br>
  <div class="row">
    <div class="col-md-9 col-md-offset-2", style="font-size: 18px;">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">会員ID</th>
            <th class="text-center">氏名</th>
            <th class="text-center">メールアドレス</th>
            <th class="text-center">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td>
              <%= customer.id %>
            </td>
            <td>
              <%= link_to admins_customer_path(customer.id), :style=> "color:red;" do %>
              <%= customer.first_name %><%= customer.last_name %>
              <% end %>
            </td>
          <td>
            <%= customer.email %>
          </td>
          <td>
            <%= customer.is_deleted %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <%= paginate @customers %>
    </div>
  </div>
</div>
