<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h4><mark>商品一覧</mark></h4>

		<div class="text-right">
			<%= link_to "＋", new_admins_item_path, class: "btn btn-default" %>
		</div>

		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1", style="font-size: 18px;">
			<table class="table table-bordered" style="background: rgba(0,0,0,0.2);">
				<thead>
					<tr>
						<th>商品ID</th>
            <th>商品画像</th>
						<th>商品名</th>
            <th>説明文</th>
						<th>出荷時期</th>
					</tr>
				</thead>
				<tbody>
					<% @items.each do |item| %>
					<tr>
						<td>
							<%= item.id %>
						</td>
            <td>
						  <%= link_to item.name, admins_items_path %>
            </td>
            <td>
              <%= attachment_image_tag item, :image, format: 'jpeg', size:"170x140" %>
            <td>
              <%= item.explanation %>
            <td>
						  <%= item.shipping_time %>
					 </td>
				  </tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

