<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <h1>商品ご紹介 <span style="font-size: 20px;">(全<%= @events.count %>件)</span></h1>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-md-3">
            <%= link_to customers_event_path(event) do %>
              <p><%= event.title %></p>
            <% end %>
            <p><%= event.start %></p>
            <p><%= event.end %></p>
            <p><%= event.explanation %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <%= paginate @events %>
    </div>
  </div>
</div>