<div class="row text-center">
  <div class="col-md-9 col-md-offset-1">
    <h1>イベントご紹介 <span style="font-size: 20px;">(全<%= @events.count %>件)</span></h1>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-md-6">
            <%= link_to customers_event_path(event), :style=>"color:white;" do %>
              <p>イベント名<br>
                <%= event.title %><br>
              ~~~詳細はこちらをクリック~~~</p>
            <% end %>
            <p>開催日<%= event.start %></p>
            <p>終了日<%= event.end %></p>
            <p>イベント詳細<br>
            <%= event.explanation %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <%= paginate @events %>
    </div>
  </div>
</div>