<div class="row text-center">
  <div class="col-md-8 col-md-offset-1">
    <h2>商品詳細</h2>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <%= attachment_image_tag @item, :image, :fill, 300, 260, format: 'jpeg', fallback: "no_image.png" %>
  </div>
  <div class="col-md-6">
    <h3>【商品名】<br><br>
      <%= @item.name %>
    </h3>
    <h4>【商品紹介]<br><br>
      <%= @item.explanation %>
    </h4>
    <h4>【出荷時期】<br><br>
      <%= @item.shipping_time %>
    </h4>
  </div>
</div>
<!-- いいね -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>[<%= @item.name %>]を評価して頂ける方はいいねをお願いします！</h2>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-6 col-md-offset-1">
    <% if Like.find_by(customer_id: current_customer.id, item_id: @item.id) %>
      <%= link_to customers_item_like_path(@item.id), {method: "post"} do %>
        [<%= @item.name %>]へのいいねありがとうございます！他の商品も見てみてください！
      <% end %>
    <% else %>
      <%= link_to customers_item_likes_path(@item.id), {method: "post"} do %>
        こちらを押すと[<%= @item.name %>]にいいねをする事ができます！ご評価お願いします！
      <% end %>
    <% end %>
  </div>
</div>
<br>
<!-- コメント -->
<div class="row text-center">
  <div class="col-md-2 col-md-offset-1">
    <h2>コメント</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <%= form_for [@item, @post_comment], url: customers_item_post_comments_path(@item) do |f| %>
      <!-- エラーメッセージ -->
      <%= render 'layouts/error_messages', model: f.object %>

      <%= f.text_area :comment, size: "30x5" %>
      <%= f.hidden_field :item_id, value: @item.id %>
      <%= f.submit '送信', class: "btn-sm btn-danger" %>
    <% end %>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">コメント投稿者</th>
          <th class="text-center">コメント内容</th>
        </tr>
      </thead>
      <tbody>
        <% @post_comments.each do |post_comment| %>
          <tr>
            <td><%= post_comment.customer.first_name %><%= post_comment.customer.last_name %>さん</td>
            <td><%= post_comment.comment %></td>
            <td>
              <%= link_to customers_item_post_comment_path(@item, post_comment), :style=> "color:white;", method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>