<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>イベント一覧</h3>
    <div class="text-left">
      <%= link_to "イベントのご登録はこちら", new_admins_event_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
<br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1", style="font-size: 18px;">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">イベント名</th>
            <th class="text-center">開始日</th>
            <th class="text-center">終了日</th>
            <th class="text-center">詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
          <tr>
            <td>
              <%= link_to event.title, admins_event_path(event), :style=> "color:red;" %>
            </td>
            <td>
              <%= event.start %>
            </td>
            <td>
              <%= event.end %>
            </td>
            <td>
              <%= event.explanation %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <%= paginate @events %>
    </div>
  </div>
</div>