<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h3>イベント詳細</h3>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3", style="font-size: 16px;">
    <table class="table">
      <tbody>
        <tr>
          <td>タイトル</td>
          <td><%= @event.title %></td>
        </tr>
        <tr>
          <td>開始日</td>
          <td><%= @event.start %></td>
        </tr>
        <tr>
          <td>終了日</td>
          <td><%= @event.end %></td>
        </tr>
        <tr>
          <td>詳細</td>
          <td><%= @event.explanation %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-md-9">
  <div class="text-right">
    <%= link_to "編集する", edit_admins_event_path, class: "btn btn-danger" %>
  </div>
</div>