<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4><mark>イベント詳細</mark></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-6", style="font-size: 16px;">
    <table class="table table-bordered" style="background: rgba(0,0,0,0.2);">
      <tbody>
        <tr>
          <td>タイトル</td>
          <td><%= @event.title %></td>
        </tr>
        <tr>
          <td>開始日</td>
          <td><%= @event.start %></td>
        </tr>
        <tr>
          <td>終了日</td>
          <td><%= @event.end %></td>
        </tr>
        <tr>
          <td>詳細</td>
          <td><%= @event.explanation %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-md-11">
  <div class="text-right">
    <%= link_to "編集する", edit_admins_event_path, class: "btn btn-primary" %>
  </div>
</div>