<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>茨城農場</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="架空の農場をモデルにしたHPページです。HPを持っていない事業者の方に使って頂きたいです。">
    <meta name="keywords" content="農場,農園,農家,農業,HP",農業体験,商品紹介,野菜,茨城>

    <link rel="stylesheet" href="style.scss">
    <link rel="stylesheet" href="slide.scss">

    <script src="https://kit.fontawesome.com/aa0c985afb.js" crossorigin="anonymous"></script>
    <script src="js/openclose.js"></script>
    <script src="js/fixmenu_pagetop.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
      <style>
        .up, .left, .right, .transform1, .transform2 {opacity:1;}
        .upstyle, .leftstyle, .rightstyle, .transform1style, .transform2style {transition: 0s 0s;}
        .up {bottom: 0px;}
        .left {left: 0px;}
        .right {right: 0px;}
        .transform1 {transform: scaleX(1);}
      </style>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      $(function(){
        $('a[href^="#"]').click(function() {
          var speed = 800;
          var href= $(this).attr("href");
          var target = $(href == "#" || href == "" ? 'html' : href);
          var position = target.offset().top;
        $('body,html').animate({scrollTop:position}, speed, 'swing');
          return false;
        });
      });
    </script>
  </head>

  <body>
    <div id="container">
      <header>
        <h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="茨城農場"></a></h1>
<!--PC用（801px以上端末）メニュー-->
        <nav id="menubar">
          <% if customer_signed_in? %>
            <nav id="menubar">
              <ul>
                <li><%= link_to "aaa" %></li>
                <li><%= link_to "商品一覧", customers_items_path %></li>
                <li><%= link_to "aaa" %></li>
                <li><%= link_to " ログアウト", destroy_customer_session_path, method: :delete %></li>
              </ul>
            </nav>
          <% elsif admin_signed_in? %>
            <nav id="menubar">
              <ul>
                <li><%= link_to "商品一覧", admins_items_path %></li>
                <li><%= link_to "aaa" %></li>
                <li><%= link_to "aaa" %></li>
                <li><%= link_to "aaa" %></li>
                <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
              </ul>
            </nav>
          <% else %>
            <nav id="menubar">
              <ul>
                <li><%= link_to " About", about_path %></li>
                <li><%= link_to " 商品一覧", customers_items_path %></li>
                <li><%= link_to " 新規登録", new_customer_registration_path %></li>
                <li><%= link_to " ログイン", new_customer_session_path %></li>
              </ul>
            </nav>
          <% end %>
<!--小さな端末用（800px以下端末）メニュー-->
          <nav id="menubar-s">
          <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li class="current"><a href="menu.html">MENU</a></li>
            <li><a href="access.html">ACCESS</a></li>
          </ul>
        </nav>
      </header>

      <%= yield %>

      <div id="contents">
        <p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>
          <ul id="footermenu">
            <li><a href="index.html">ホーム</a></li>
            <li><a href="about.html">当サイトについて</a></li>
            <li><a href="menu.html">メニュー</a></li>
            <li><a href="access.html">アクセス</a></li>
          </ul>
      </div>

      <footer>
        <small>Copyright&copy; <a href="index.html">茨城農場</a> All Rights Reserved.</small>
        <span class="pr"><a href="http://template-party.com/" target="_blank">Web Design:Template-Party</a></span>
      </footer>
    </div>
<!--/container-->

<!--メニュー開閉ボタン-->
    <div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　520px以下-->
    <script>
      if (OCwindowWidth() <= 520) {
      open_close("menubar_hdr", "menubar-s");
      }
    </script>

<!--inview用のファイル読み込み-->
    <script src="js/jquery.inview.js"></script>
    <script src="js/jquery.inview_set.js"></script>

  </body>
</html>

